body{
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VZgMbUz8l/videoblocks-animation-dust-particles-on-a-black-background-4k_s7fw8itm5l_thumbnail-full01.png);
}
h1{
    text-decoration:underline;
    text-align:center;
    color:white;
}
img{
    width:350px;
    height:350px;
}
    
    